* {
    
  }

  /*This is the navigation bar*/
.nav-links {
    display: flex;
    position: fixed;
    top: 20px;
    width: 100vw;
    list-style-type: none;
    align-items: center;
    overflow:hidden;
    padding: 0;
    margin: 0;
    justify-content:center;
    background-color: transparent;
     
  }
  li{
    float:left;
    background: transparent;
  }
  li a {
    display: block;
    padding: 14px 16px;
    background-color: #666;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-left: 10px;
    border-radius: 1vw ;
    border: 5px solid rgb(0, 0, 0);
    font-size:1vw;
    
  
  }
  li a:hover{
    background-color: #6d78f7;
  }
  .active {
    background-color: #848efc;
  }
  

  
/* footer*/
.footer {
  display: flex;
  width: 100%;
  bottom: 15px;
  margin-bottom: 20px;
  justify-content: center;
  background-color: transparent;
}

.bt {
  color: white;
  background-color: black;
  font-size: 2vw;
  justify-content: center;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 1vw;
  border: 2px solid rgb(39, 39, 39);
}

.bt:hover {
  background-color: #666;
  
}