@import "index.css";



  body {
    font-family: sans-serif;
    
    width:  100%;
    height: 100%;
    margin: 0;
    background: #5865F2;
  
  }  


main{
  position: relative;
}

.title {
  color: grey;
  text-align: center;
  -webkit-text-stroke: 10px black;
  font-weight: 1000;
  margin: 100px 50px ;
  padding: 250px 50px;
  background: #717dfa;
  animation: fadeIn; 
  animation-duration: 3s;
 
  
  
}

/*This is the intro*/
#intro{
    
    color: white;
    /* font-weight: bold; */
    text-align: left;
    margin-left:50px;
    margin-right: 50px;
    background: #717dfa;   

}
.i1 {
    
    
    font-weight: bold;
    padding-top: 250px;
    padding-left: 50px;
}
.i2 {
   
    padding: 5px 50px;
}
.i3 {
    
  padding-bottom: 250px;
  padding-left: 50px;
}

/*Work Experience*/
#work{
  background:white;
  
  margin: 100px 50px ;
  padding: 250px 50px;
  
}
.wexp{
  text-align: right;
  color: black;
  font-weight: bold;
  margin-right: 100px;
  
  
}
.job1 {
  color: black;
  text-align: right;
  margin-right: 50px;
  margin-top: 10px;
  
}
.job {
  margin-right: 50px;
}
.job-description {
  list-style-type: none;
  text-align:right; 
  margin-bottom: 10px;
  padding-right: 50px;
}
.job-description li{
  padding-right: 0px;
  float: right;
  clear: right;  
  
}

/*skills*/
#skills{
  margin: 100px 50px ;
  padding: 250px 50px;
  background: #717dfa;
}
.skl {
  color: white;
   
  
}
.skill-description {
  list-style-type: square; 
  color: white;
  
  
}
.skill-description li{
  float: left;
  clear: left;   
  
}

/* Projects */
#proj{
  background:white;
  margin: 100px 50px ;
  padding: 250px 50px;
  
}
.prj{
  text-align: right;
  color: black;
  font-weight: bold;
  
  
}
.prj1 {
  color: black;
  text-align: right;
  
  
}
.project {
  
}
.project-description {
  
  text-align:right; 
  
  
}


/* Media Query values*/

@media (min-width: 600px){
  .title {
    font-size:150px;
  }
  #intro {
    font-size:20px;
  }
  #work{
    font-size:20px;
  }
  .job-description li{
    font-size:20px;
  }
  #skills {
    font-size:20px;
  }
  .skill-description li{
    font-size:20px;
  }
  #proj {
    font-size:20px;
  }
}

/*try max witdh*/


