@import "index.css";



  body {
    font-family: sans-serif;
    width:  100%;
    height: 100%;
    margin: 0;
    background: #5865F2; 
  }  


main{
  position: relative;
}

.heading{
  background: #717dfa;
  animation: fadeIn; 
  animation-duration: 3s;
  border-radius:400px;
  margin: 100px 50px ;
  padding: 50px 50px;
  display:flex;
}
.t1{
  color: grey;
  text-align: center;
  -webkit-text-stroke: 8px black;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:100%;
  
}
.title{
  font-size: 13; 
}
.bot-pic{
  padding-right: 50px;
  justify-content: center;
  text-align: center;
}
.bot-picture{
  max-width:500px;
  max-height:400px;
  border-radius: 100px;
  margin: 50px 0px;
  float:center;
}

/*This is the intro*/
#intro{
    
    color: white;
    text-align: left;
    margin:25px 50px;
    padding: 5px 50px 5px 50px;
    background: #717dfa; 
    border-radius:40px;
    display: flex;
     
    
  }


  .profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;    
  
  }
.i1 {
    
    font-weight: bold;
    padding: 50px 50px 5px  50px;
    text-align: left;
    
}
.i2 {
   
  padding: 5px 50px 5px 50px;
  margin: 20px auto;
  text-align: left;
}

.p-pic {
  max-width:300px;
  max-height:600px;
  border-radius: 100px;
  margin: 50px auto;
  float: right;
 
}

/*Work Experience*/
#work{
  background:white;
  border-radius:40px;  
  margin: 0px 50px ;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  
}
.wexp{
  text-align: right;
  color: black;
  font-weight: bold;
  margin-right: 100px;
  
  
}
.job1 {
  color: black;
  text-align: right;
  margin-right: 50px;
  margin-top: 10px;
  
}
.job {
  margin-right: 50px;
}
.job-description {
  list-style-type: none;
  text-align:right; 
  margin-bottom: 10px;
  padding-right: 50px;
}
.job-description li{
  padding-right: 0px;
  float: right;
  clear: right;  
  
}

/*skills*/
#skills{
  margin:50px 50px ;
  padding: 50px 50px;
  background: #717dfa;
  border-radius:40px;
  align-items: center;
  justify-content: center;
  text-align: center;

  
}
.skl {
  color: white;
  text-align: center;
  margin:20px 100px;
  padding-bottom: 50px; 
}
.log {
  display:flex;
  justify-content: center;
  align-items: center;
}
.skill-grid {
  justify-content: center;
  font-weight: bold;
  display:grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 100px;
  
}
img {
  max-width:300px;
  max-height:300px;
}


/* Projects */
#proj{
  background:white;
  border-radius:40px;
  margin: 50px ;
  padding: 50px;
  
}
.prj{
  text-align:center;
  color: black;
  font-weight: bold;
  margin-right: 100px;
  
  
  
}
.full-prj1{
  margin:50px 0px;
  display:flex;
  justify-content: center;
}
.prj1 {
  color: black; 
  margin: 50px 80px;
  
  
  
}
.prj1Name {
  text-align: left;
}
.prj1-description {
  
  text-align:left;
   
}
.prj1-pic{
  margin:50px 50px;
  
  
}
.prj1-picture{
  max-width:600px;
  max-height:350px;
  float: right;
  border-radius: 10px;
  cursor: pointer;
  
}
.prj2 {
  color: black;
  text-align: right;
  margin: 50px 80px; 
  
  
  
}
.prj2Name {
  
}
.prj2-description {
  
  text-align:right;   
  
}


/* Media Query values*/

@media (min-width: 300px){
  .title {
    font-size:150px;
  }
  #intro {
    font-size:20px;
  }
  #work{
    font-size:20px;
  }
  .job-description li{
    font-size:20px;
  }
  #skills {
    font-size:20px;
  }
  .skill-description li{
    font-size: 20px;
  }
  #proj {
    font-size:20px;
  }
  p {
    font-size: 20px;
  }
  .full-prj1{
    flex-wrap: nowrap;
  }
  .prj2{
    flex-wrap: nowrap;
  }

  @media (max-width:1000px){
    .skill-description li{
      font-size: 25px;
    }
    .job-description li{
      font-size:25px;
    }
    .full-prj1{
      flex-wrap: wrap;
    }
    .prj2{
      flex-wrap: nowrap;
    }
    
    
    
  }
}

/*try max witdh*/


